<ion-view title="Random recipe">
  
  <ion-content overflow-scroll="false">
    <div class="recipe__image">
      <img class="recipe__image__maximize" src="img/lasagne-02_6.jpg"> <!-- Background and background-size: cover -->
    </div>
  
    <!-- <div class="list card">
      <div class="item item-avatar">
        <h2>Lasser</h2>
        <p>Pelle Krogstad</p>
      </div>
    </div> -->

    <div class="recipe__content padding">
      <div class="recipe__content__row">
        <div class="recipe__content__rating rated">
          <div class="recipe__content__rating__star"><i class="icon ion-ios7-star"></i></div>
          <div class="recipe__content__rating__star"><i class="icon ion-ios7-star"></i></div>
          <div class="recipe__content__rating__star"><i class="icon ion-ios7-star-half"></i></div>
          <div class="recipe__content__rating__star"><i class="icon ion-ios7-star-outline"></i></div>
          <div class="recipe__content__rating__star"><i class="icon ion-ios7-star-outline"></i></div>
        </div>
      </div>

      <div class="recipe__content__row">
        <div class="recipe__content__name">
          <h4>Lasagne med solbrente tomater og god stemning</h4>
        </div>
        <div class="recipe__content__info">
          <div class="recipe__content__info__item">
            <i class="icon ion-ios7-timer-outline"></i>
            1t 40m
          </div>
          <div class="recipe__content__info__item">
            <i class="icon ion-information-circled"></i>
            sterk
          </div>
        </div>
      </div>

      <div class="recipe__content__row">
        <div class="recipe__content__ingredients">
          <h4>Ingredienser</h4>
          <ul>
            <li>3stk Tomat</li>
            <li>5stk Tomat</li>
            <li>4stk Tomat</li>
            <li>2stk Tomat</li>
            <li>1stk Tomat</li>
          </ul>
        </div>

        <div class="recipe__content__nutrients">
          <h4>Næringsinnhold</h4>
          <ul>
            <li>4g salt</li>
            <li>4g protein</li>
            <li>4g syre</li>
          </ul>
        </div>
      </div>

      <div class="recipe__content__row">
        <div class="recipe__content__procedure">
          <h4>Fremgangsmåte</h4>
          <ul>
            <li>Brun kjøttdeig i olje på sterk varme i to omganger. Ha all kjøttdeigen tilbake i stekepanna. Tilsett hakket løk, hvitløk, tomater, tomatpuré, salt, pepper og vann. La sausen småkoke i ca. 10 minutter til den begynner å tykne. Dryss over basilikum.</li>

            <li>Smelt smør i en kjele og rør inn mel. Spe med melk under omrøring og la sausen koke i ca. 10 minutter. Den skal være forholdsvis tykk. Ha i parmesan og la osten smelte. Smak til med krydder.</li>

            <li>Legg lasagneplater, kjøttsaus og ostesaus lagvis i en ildfast form. Start og avslutt med ostesaus. Dryss over revet ost til slutt.</li>

            <li>Sett formen i stekeovn på 225° C og stek i 30-40 minutter. Kjenn etter med en pinne eller spiss kniv om pastaen er mør. La lasagnen hvile noen minutter før servering.</li>

            <li>Server med baguette og salat ved siden av.</li>
          </ul>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
