<ion-view title="{{ 'signup.header' | translate }}">
  <ion-content scroll="false">

    <div ng-click="redirect('facebook')" class="list card list--signup">
      <div class="item item-avatar">
        <img src="img/icons/facebook_icon.svg">
        <h2>Facebook</h2>
        <p>{{ 'favorites.facebookDescription' | translate }}</p>
      </div>
    </div>
    
    <div ng-click="redirect('google')" class="list card list--signup">
      <div class="item item-avatar">
        <img src="img/icons/google_icon.png">
        <h2>Google</h2>
        <p>{{ 'favorites.googleDescription' | translate }}</p>
      </div>
    </div>

    <div ng-click="redirect('fresh')" class="list card list--signup">
      <div class="item item-avatar">
        <img src="img/icons/mealchooser_icon.png">
        <h2>{{ 'favorites.freshHeader' | translate }}</h2>
        <p>{{ 'favorites.freshDescription' | translate }}</p>
      </div>
    </div>

  </ion-content>
</ion-view>
