<ion-view title="Signup">
  <ion-content scroll="false">

    <div ng-click="redirect('facebook')" class="list card list--signup">
      <div class="item item-avatar">
        <img src="img/icons/facebook_icon.svg">
        <h2>Facebook</h2>
        <p>Logg inn ved hjelp av din Facebook-konto</p>
      </div>
    </div>
    
    <div ng-click="redirect('google')" class="list card list--signup">
      <div class="item item-avatar">
        <img src="img/icons/google_icon.png">
        <h2>Google</h2>
        <p>Logg inn ved hjelp av din Google-konto</p>
      </div>
    </div>

    <div ng-click="redirect('fresh')" class="list card list--signup">
      <div class="item item-avatar">
        <img src="img/icons/mealchooser_icon.png">
        <h2>Register brukerkonto</h2>
        <p>Registrer ny bruker ved hjelp av din e-postadresse</p>
      </div>
    </div>

  </ion-content>
</ion-view>
