<ion-view title="Dashboard">
  <ion-content class="padding">
    <!-- <h1>Dash11123123</h1> -->

    <div class="list card">

    <div class="item item-avatar">
      <img src="img/lasagne-02_6.jpg">
      <h2>Lasser</h2>
      <p>Pelle Krogstad</p>
    </div>

    <div class="item item-image">
      <img src="img/lasagne-02_6.jpg">
    </div>

    <a class="item item-icon-left assertive" href="#">
      <i class="icon ion-music-note"></i>
      Start listening
    </a>

  </div>
  </ion-content>
</ion-view>
