// Sidebar
$sidebar_image_size: 120px;

.sidebar__profile {
  height: 140px;
  margin-top: 20px;
}

  .sidebar__profile__image {
    width: $sidebar_image_size;
    height: $sidebar_image_size;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;

    img {
      width: $sidebar_image_size;
      height: $sidebar_image_size;
    }
  }