<ion-view title="Login">
  <ion-content>

    <div class="item item-divider">
      Brukerkonto
    </div>
    <div class="list list-inset">

      <label class="item item-input">
        <span class="input-label">Name</span>
        <input ng-model="user.name" type="text">
      </label>

      <label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-model="user.email" type="text">
      </label>

      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>

      <label class="item item-input">
        <span class="input-label">Password again</span>
        <input type="password">
      </label>
    </div>
    <div class="item item-divider">
      Annen informasjon
    </div>
    <div class="list list-inset">

      <label class="item item-input item-select">
        <span class="input-label">Fødselsår</span>

         <select ng-controller="Years">
          <option ng-repeat="year in years" ng-selected="{{year.selected}}">{{year.year}}</option>
        </select>

      </label>

      <label class="item item-input">
        <span class="input-label">City</span>
        <input type="text">
      </label>

    </div>
    <div class="padding">
      <button class="button button-block button-positive">Registrer brukerkonto</button>
    </div>
  </ion-content>
</ion-view>
