<ion-view title="{{ 'coldstart.header' | translate }}">
  <ion-content class="padding">
    <p>{{ 'coldstart.why' | translate }}</p>

    <div ng-controller="CardsCtrl">

      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped(this)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image">
            <div class="no-text">NOPE</div>
            <img ng-src="{{card.image}}">
            <div class="td-card__bottom-text">Lasagne med bolognese og ostesaus</div>
            <div class="yes-text">LIKE</div>
          </div>
        </td-card>
      </td-cards>
    </div>
      
  </ion-content>
</ion-view>
