<ion-view title="{{ 'favorites.header' | translate }}">
  <ion-content class="padding">
    <ion-list ng-if="!empty"
              show-delete="shouldShowDelete"
              show-reorder="false"
              can-swipe="true">
      <ion-item ng-repeat="item in items"
                class="item-thumbnail-left" href="#/app/recipes/{{item.id}}">

        <img ng-src="{{item.image}}" onerror="this.src='/img/ionic.png'">
        <h2>{{item.name}}</h2>
        <ion-option-button class="button-assertive"
                           ng-click="delete(item, $index)">
          
          <i class="icon ion-trash-a"></i>
          {{ 'favorites.remove' | translate }}
        </ion-option-button>
        <!-- <ion-option-button class="button-info"
                           ng-click="edit(item)">
          Edit
        </ion-option-button> -->
        <ion-delete-button class="ion-minus-circled"
                           ng-click="items.splice($index, 1)">
        </ion-delete-button>
        

      </ion-item>
    </ion-list>

    <div ng-if="empty" class="row">
      <div class="col">
        <h3 style="color: #666;">{{ 'favorites.emptyheader' | translate }}</h3>
        <span>{{ 'favorites.emptytext' | translate }}</span>
      </div>
    </div>

  </ion-content>
</ion-view>
