<ion-view title="{{recipename}}">

  <ion-content overflow-scroll="false">
    <div class="recipe__image" ng-if="!loading">
      <img class="recipe__image__maximize" ng-src="{{image}}">
    </div>

    <div class="recipe__content padding" ng-if="!loading">
      <div class="recipe__content__row">
        <div class="recipe__content__rating" ng-class="{rated: rated}">
          <div class="recipe__content__rating__star" ng-repeat="i in numStars" ng-click="rate(i)">
            <i ng-class="getStarClass(i)" class="icon"></i>
          </div>
        </div>
      </div>

      <div class="recipe__content__row" ng-if="!loading">
        <div class="recipe__content__name">
          <h3>{{recipename}}</h3>
        </div>
      </div>

      <div class="recipe__content__row" ng-if="!loading">
        <div class="recipe__content__info">
          <div class="recipe__content__info__item">
            <i class="icon ion-ios7-timer-outline"></i>
            <any ng-if="recipehours" translate="recipe.translateHours" translate-value-h="{{recipehours}}"></any>
            <any ng-if="recipeminutes" translate="recipe.translateMinutes" translate-value-m="{{recipeminutes}}"></any>
          </div>
        </div>

        <div class="recipe__content__info" ng-if="!loading">
          <div class="recipe__content__info__item" ng-if="spicy > 1">
            Styrke
            <i ng-if="spicy > 0" class="icon ion-flame icon--assertive"></i>
            <i ng-if="spicy > 2" class="icon ion-flame icon--assertive"></i>
            <i ng-if="spicy > 2" class="icon ion-flame icon--assertive"></i>
          </div>

        </div>
      </div>

      <div class="recipe__content__row" ng-if="!loading">
          <div class="recipe__content__portions">
            <div class="recipe__content__portions__text">{{ 'recipe.portions' | translate }}: {{portions}}</div>
          </div>
          <div class="recipe__content__portions__controls">
            <button class="button button-balanced" ng-click="incrementPortions()"><i class="icon ion-plus"></i></button>
            <button class="button button-assertive" ng-click="decrementPortions()"><i class="icon ion-minus"></i></button>
          </div>
      </div>


      <div class="recipe__content__row" ng-if="!loading">
        <div class="recipe__content__ingredients">
          <h4>{{ 'recipe.ingredients' | translate }}</h4>
          <ul>
            <li ng-repeat="ingredient in ingredients">{{ingredient.amount * portions}} {{ ingredient.unit | translate}} - {{ingredient.name}}</li>
          </ul>
        </div>

      </div>

<!--  <div class="recipe__content__row">
        <button class="button button-light" ng-click="openModal()">{{ 'recipe.showNutrient' | translate }}</button>
      </div> -->

      <div class="recipe__content__row" ng-if="!loading">
        <div class="recipe__content__procedure">
          <h4>{{ 'recipe.procedure' | translate }}</h4>
          <div ng-bind-html="procedure"></div>
        </div>
      </div>

      <div class="recipe__content__row" ng-if="!loading">
        <button class="button button-positive" ng-click="addToShoppingCart()">{{ 'recipe.addToCart' | translate }}</button>
      </div>

      <div ng-if="!isFavorite" class="recipe__content__row" ng-if="!loading">
        <button class="button button-positive" ng-click="addToFavorites()">{{ 'recipe.addToFavorites' | translate }}</button>
      </div>

    </div>
  </ion-content>
  <span ng-if="loading" class="padding" us-spinner></span>

</ion-view>
