<ion-view title="{{ 'recommend.title' | translate }}">
  <ion-content>
    <div class="card" ng-if="!infoShown">
      <div class="item item-divider">
      {{ 'recommend.information' | translate }}
      <i style="float: right;" class="icon ion-close-round" ng-click="removeInfo()"></i>
      </div>
      <div class="item item-text-wrap">
        {{ 'recommend.description' | translate }}
      </div>
    </div>

    <div class="list card" ng-if="!empty && !loading">

      <div class="item" ng-click="confirmRecommendation()">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
      </div>

      <div class="item item-image" ng-click="confirmRecommendation()">
        <img ng-src="{{image}}">
      </div>

      <a class="item item-icon-left assertive" style="width: 50%; float: left" ng-click="declineReommendation()">
        <i class="icon ion-close-round"></i>
        Nei takk
      </a>
      <a class="item item-icon-left balanced" style="width: 50%; float: right" ng-click="confirmRecommendation()">
        <i class="icon ion-checkmark-round" style="float: right"></i>
        Ja takk
      </a>

    </div>

    <div ng-if="empty && !loading" class="row">
      <div class="col">
        <h3 style="color: #666;">{{ 'recommend.emptyheader' | translate }}</h3>
        <span>{{ 'recommend.emptytext' | translate }}</span>
      </div>
    </div>
  </ion-content>

  <span ng-if="loading" class="padding" style="" us-spinner></span>

</ion-view>
