<ion-view title="{{ 'search.header' | translate }}">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="query" ng-change="search(this)" placeholder="{{ 'search.placeholder' | translate }}">
      </label>
    </div>

    <div class="search__results">
      <div ng-if="hasSearched" class="search__results__header">
        <h5 translate="search.showingNResults" translate-value-n="{{results.length}}"></h5>
      </div>

      <div class="search__results__list list">
        <a class="item item-avatar" ng-repeat="result in results" href="#/app/recipes/{{result.id}}">

          <img ng-src="{{result.image}}">
          <h2>{{result.name}}</h2>
          <p>Oppskrift</p>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
