<ion-view title="{{ 'search.header' | translate }}">
  <ion-content class="padding">
    <div class="padding" ng-if="noInternet">
      <div class="col">
        <h3 style="color: #666;">{{ 'generic.noInternetHeader' | translate }}</h3>
        <span>{{ 'generic.noInternetDescription' | translate }}</span>
      </div>
    </div>

    <div class="list" ng-if="!noInternet">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="query" ng-change="search(this)" placeholder="{{ 'search.placeholder' | translate }}">
      </label>
    </div>

    <div class="search__results">
      <div ng-if="hasSearched" class="search__results__header">
        <h5 translate="search.showingNResults" translate-value-n="{{results.length}}"></h5>
      </div>

      <div class="search__results__list list" ng-if="!loading">
        <a class="item item-avatar" ng-repeat="result in results" href="#/app/recipes/{{result.id}}">

          <img ng-src="{{result.image}}">
          <h2>{{result.name}}</h2>
          <p>Oppskrift</p>
        </a>
      </div>
    </div>

  </ion-content>
  <span ng-if="loading && !noInternet" class="padding" us-spinner></span>

</ion-view>
