
<ion-view title="{{ 'settings.header' | translate }}">
  <ion-content>
    <ion-list>

      <div class="item item-divider">
        {{ 'settings.personalInformation' | translate }}
      </div>

      <ion-item class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        {{ 'settings.email' | translate }}
        <span class="item-note">
          {{email}}
        </span>
      </ion-item>

      <ion-item class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        {{ 'settings.name' | translate }}
        <span class="item-note">
          <input type="text" value="{{settings.name}}">
        </span>
      </ion-item>

      <div class="item item-divider">
        {{ 'settings.allergies' | translate }}
      </div>

      <ul class="list">

        <li class="item item-toggle">
          {{ 'settings.glutenAllergy' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.gluten" ng-change="allergyChange('gluten')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-toggle">
          {{ 'settings.nutsAllergy' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.nuts" ng-click="allergyChange('nuts')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-toggle">
          {{ 'settings.celiacDisease' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.celiac" ng-click="allergyChange('celiac')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          {{ 'settings.soyaAllergy' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.soya" ng-click="allergyChange('soya')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          {{ 'settings.wheatAllergy' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.wheat" ng-click="allergyChange('wheat')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

      </ul>

    </ion-list>
  </ion-content>
</ion-view>
