
<ion-view title="{{ 'settings.header' | translate }}">
  <ion-content>
    <!-- <ion-list> -->
    <div class="list">
      <div class="item item-divider">
        {{ 'settings.personalInformation' | translate }}
      </div>

      <label class="item item-input item-stacked-label">
        <span class="input-label">{{'settings.email' | translate}}</span>
        <input type="text" ng-model="user.email" style="background: white" disabled>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">{{'settings.name' | translate}}</span>
        <input type="text" value="{{user.firstName}} {{user.lastName}}" style="background: white" disabled>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">{{'settings.city' | translate}}</span>
        <input type="text" ng-model="user.city" value="{{user.city}}" placeholder="" ng-change="change()">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Year of birth
        </div>
        <select ng-controller="Years" ng-model="user.yearBorn" ng-change="change()">
          <option ng-repeat="year in years">{{year.year}}</option>
        </select>
      </label>

    </div>


    <div class="item item-divider">
      {{ 'settings.aboutDivider' | translate }}
    </div>

    <div class="list card">
      <a class="item item-icon-right" ng-click="showAboutModal()">
        {{'settings.aboutLink' | translate}}
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>

    <div class="item item-divider">
      {{ 'settings.dangerZone' | translate }}
    </div>
    <div class="list card">
      <a class="item item-icon-right" ng-click="resetKnowledgeBase()">
        {{'settings.resetMyAI' | translate}}
        <i class="icon ion-close-round"></i>
      </a>
      <a class="item item-icon-right" ng-click="resetLocalStorage()">
        {{'settings.resetLocalStorage' | translate}}
        <i class="icon ion-close-round"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
