
<ion-view title="{{ 'settings.header' | translate }}">
  <ion-content>
    <!-- <ion-list> -->
    <div class="list">
      <div class="item item-divider">
        {{ 'settings.personalInformation' | translate }}
      </div>

      <label class="item item-input item-stacked-label">
        <span class="input-label">{{'settings.email' | translate}}</span>
        <input type="text" ng-model="user.email" style="background: white" disabled>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">{{'settings.name' | translate}}</span>
        <input type="text" value="{{user.firstName}} {{user.lastName}}" style="background: white" disabled>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">{{'settings.city' | translate}}</span>
        <input type="text" ng-model="user.city" value="{{user.city}}" placeholder="Hamar" ng-change="change()">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Year of birth
        </div>
        <select ng-controller="Years" ng-model="user.yearBorn" ng-change="change()">
          <option ng-repeat="year in years">{{year.year}}</option>
        </select>
      </label>

    </div>


    <div class="item item-divider">
      {{ 'settings.others' | translate }}
    </div>

    <div class="list card">
      <a class="item item-icon-right" ng-click="showAboutModal()">
        {{'settings.aboutLink' | translate}}
        <i class="icon ion-help"></i>
      </a>
      <a class="item item-icon-right" ng-click="resetKnowledgeBase()">
        {{'settings.resetMyAI' | translate}}
        <i class="icon ion-close-round"></i>
      </a>
    </div>

 <!-- </ion-list> -->
      <!-- <div class="item item-divider">
        {{ 'settings.allergies' | translate }}
      </div>

      <ul class="list">
        <li class="item item-toggle">
          {{ 'settings.glutenAllergy' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.gluten" ng-change="allergyChange('gluten')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-toggle">
          {{ 'settings.nutsAllergy' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.nuts" ng-click="allergyChange('nuts')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-toggle">
          {{ 'settings.celiacDisease' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.celiac" ng-click="allergyChange('celiac')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          {{ 'settings.soyaAllergy' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.soya" ng-click="allergyChange('soya')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
          {{ 'settings.wheatAllergy' | translate }}
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="settings.allergies.wheat" ng-click="allergyChange('wheat')">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

      </ul> -->

  </ion-content>
</ion-view>
