<ion-view title="{{ 'shoppingCart.header' | translate }}">
  <ion-content class="padding">
    <div class="shopping__cart">
      <h4 translate="shoppingCart.XrecipesOfYPortions" translate-value-recipes="3" translate-value-portions="4"></h4>

      <ion-checkbox ng-repeat="item in items" ng-model="isChecked" class="shopping__cart__item">
        <div class="shopping__cart__item__left">{{item.title}}</div>
        <div class="shopping__cart__item__right">{{item.amount}}</div>
      </ion-checkbox>
    </div>

  </ion-content>
</ion-view>
