<ion-view title="Pelle Krogstad">
  <ion-content class="">

    <div class="user__image__wrapper">
      <center>
        <!-- mayb: http://www.imgix.com/pricing -->
        <div class="user__image" style="background: url(img/pelle_krogstad.jpg) no-repeat center center fixed;"></div>
      </center>
    </div>


    <div class="user__info list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        pelle@krogstad.no
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Friends
        <span class="badge badge-positive">23</span>
      </a>

    </div>
  </ion-content>
</ion-view>
