
  <ion-view title="{{ 'login.header' | translate }}">
    <ion-content data-ng-init="checkIfAuthed()">

      <div class="card ng-hide" ng-show="errormessage">
        <div class="item item-text-wrap">
          {{errormessage}}
        </div>
      </div>

      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">{{ 'login.username' | translate }}</span>
          <input type="email" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">{{ 'login.password' | translate }}</span>
          <input type="password" ng-model="user.password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="login()">{{ 'login.loginSubmitButton' | translate }}</button>
      </div>

      <div class="padding">
        <a href="#/account/signup/fresh" class="button button-block button-positive">{{ 'login.newAccount' | translate }}</a>
      </div>

      <div class="padding">
        <a href="#/account/forgot" class="button button-block button-positive">{{ 'login.forgotPassword' | translate }}</a>
      </div>

    </ion-content>
    <span ng-if="loading" class="padding" style="" us-spinner></span>
  </ion-view>

